@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    
}

/* Navbar styles */
.navbar {
    background-color: #f8f9fa;
    padding: 15px 0;
}

.logo a {
    font-size: 1.5em;
    text-decoration: none;
    color: #343a40;
    display: inline;
    margin-left: 5px;
}

.nav-links ul {
    list-style: none;
}

.nav-links ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #343a40;
    font-weight: bold;
}

/* Footer styles */
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #343a40;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}



.footer-inline {
    list-style: none;
}

.footer-inline-item {
    display: inline-block;
    margin-right: 10px;
}

.footer-inline-item a {
    text-decoration: none;
    color: #fff;
}

/* styles for register.html */

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
#register-form * {
    display: flex;
    flex-direction: column;
}

#register-form input {
    margin: 10px;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

#reg-encouragement {
    margin-top: 15px;
    text-align: center;

}
