@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;   
}
