{% extends "base.html" %}

{% block content %}
<table class="table">
    <thead>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Budget</th>
        <th scope="col">Description</th>
        <th scope="col">Created on</th>
    </thead>
    <tbody>
    {% for plan in plan_list %}
    <tr>
        <th scope="row"> {{ forloop.counter }}</th>
        <td>{{ plan.name }}</td>
        <td>{{ plan.budget }}</td>
        <td>{{ plan.description }}</td>
        <td>{{ plan.created_on }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</ul>



{% endblock %}