{% extends "base.html" %}


{% block content %}
{% if user.is_authenticated %}
<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    <table class="table">
        <thead>
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Budget</th>
            <th scope="col">Description</th>
            <th scope="col">Created on</th>
        </thead>
        <tbody>
        {% for plan in plan_list %}
        <tr>
            <th scope="row">
                <input type="checkbox" name="plans_ids" value="{{ plan.id }}">
            </th>
            <th scope="row"> {{ forloop.counter }}</th>
            <td><a href="{% url 'plan_detail' slug=plan.slug %}">{{ plan.name }}</a></td>
            <td>{{ plan.budget }}</td>
            <td>{{ plan.description }}</td>
            <td>{{ plan.created_on }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-danger ms-2" name="delete_plans">Delete Selected Plans</button>
</form>


{% else %}
<div class="text-center mt-2">
    <h2>Please register or login to use the Finance Tracker!</h2>
</div>
{% endif %}
{% endblock %}