{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="row mb-4">
        <h2> {{ plan.name }}</h2>
        <p>Budget: {{ plan.budget }}€</p>
        <p>Spent: {{ plan.total_spent }}</p>
        <p>Remaining: {{ plan.remaining }}</p>
        <p>Created on: {{ plan.created_on|date:"F j, Y" }}</p>
    </div>
</div>

<hr>

<div  id="transaction-table">
    <table class="table">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <th scope="row"> {{ forloop.counter }}</th>
                <td>{{ transaction.category }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.created_on }}</td>
                <td>{{ transaction.description }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}