{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row mb-4">
        <h2> {{ plan.name }}</h2>
        <p>Budget: {{ plan.budget }}€</p>
        <p>Spent: {{ plan.total_spent }}€</p>
        <p>Remaining: {{ plan.remaining }}€</p>
        <p>Created on: {{ plan.created_on|date:"F j, Y" }}</p>
    </div>
</div>

<hr>

<div  id="transaction-table">
    <form method="post" action="{% url 'plan_detail' slug=plan.slug %}" class="mb-5">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col">Category</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <th scope="row">
                        <input type="checkbox" name="transaction_ids" value="{{ transaction.id }}" aria-label="Checkbox For Transaction {{ transaction.id}}">
                    </th>
                    <th scope="row"> {{ forloop.counter }}</th>
                    <th scope="row"> <a href="{% url 'edit_transaction' slug=plan.slug transaction_id=transaction.id %}" class="btn btn-success">Edit</a></th>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.created_on }}</td>
                    <td>{{ transaction.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#addTransactionModalLabel">
            Add Transaction
        </button>
        <button type="submit" class="btn btn-danger ms-2" name = "delete_transactions"> Delete Marked Transactions</button>
    </form>
</div>

<!-- Modal for adding transaction -->
<div class="modal fade" id ="addTransactionModalLabel" tabindex="-1" aria-label="addTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Transaction to {{ plan.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'plan_detail' slug=plan.slug %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary" name="add_transactions">Add Transaction</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
